body {
    padding: 1%;
    background-color:#ffdd67;
}

#titulo {
    text-align: center;
    width: 86%;
    background-color:#ffdd67;
    display: inline-block;
    margin-bottom: 0.5%;
}

#fuenteTitulo {
    padding-left: 11%;
}

#fechaYHora {
    width: 10.3%;
    background-color: red;
    display: inline-block;
}

#menuPrincipal {
    width: 96.8%;
}
.actores img{
  width: 10vw;
  height: 25vh;
}
.opcionMenu {
    display: inline-block;
    background-color: #ff8a5c;
    width: 24.7%;
    text-align: center;

}
.opcionMenu:hover{
    background-color:#f7a98a ;
}
#izquierda {
    width: 30%;
}

#logo {
    margin: 2%;
}
.actores{
    width: 18vw;
    height: 70vh;
    margin-left: 5px;
    float: left;
    background-color: #5a6875;
    text-align: center;
}
.contenedorReparto{
    margin-top: 3px;
    width: 96.5%;
    height: 70vh;
    background-color: grey;
}
.description{
visibility: hidden;
width: 17vw;
text-align: justify;
font-family: sans-serif;
margin-left: 6px;
float: left;
color: black;
font-size: 16px;
font-weight: bold;
}
.actores:hover .description {
        visibility: visible;
}
a{
    text-decoration: none;
    color: black;
}
hr{
  width: 90%;
  float: left;
  margin-left: 5%;
}
