@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 1%;
    font-family: "Roboto";
}

#titulo {
    text-align: center;
    width: 89%;
    display: inline-block;
    margin-bottom: 0.5%;
    color: #cf455c;
    font-family: "Poller One";
    font-size: 34px;
}

#fuenteTitulo {
    padding-left: 11%;
}

#fechaYHora {
    width: 10%;
    background-color: red;
    display: inline-block;
}

#menuPrincipal {
    width: 100%;
    background-color: #ffdd67;
    font-family: "Fugaz One";
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#menuPrincipal a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

.opcionMenu {
    display: inline-block;
    width: 24.778%;
    text-align: center;
    transition: 1s;
    margin: 0px;
}
.opcionMenu:hover {
    background-color:#444444;
    color: white;
}

.opcionMenu:hover a {
    color: white;
}

#menuLateral {
    width: 25%;
    height: 53.6em;
    float: left;
    border-right: 2px solid black;
    font-family: "Roboto";
}

.submenu{
    margin-left: 10%;
    display: block;
}

.submenu h3 {
    width: 90%;
    padding: 5%;
}

.submenu h3:hover {
    background-color: #cf455c;
}


.grid-container {
    display: grid;
    height: 50em;
    grid-row-gap: 10px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 32% 32% 32%;
    padding: 5px;
    padding-left: 10%;
    padding-top: 4%;
  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 14px;
    text-align: center;
    width: 70%;
    height: 100%;
  }

.imgProducto {
    margin-top: 4%;
}

.productLink {
    color: black;
    font-size: 14px;
}




footer {
    text-align: center;
    border-top: 2px solid black;
}